In [1]:
import pandas as pd

In [21]:
titanic_df = pd.read_csv('datasets/titanic_processed.csv')

titanic_df.head(55)

,Survived,Pclass,Sex,Age,SiblingSpouse,ParentChild,Fare,Embarked_C,Embarked_Q,Embarked_S
0,1,3,0,27.00,0,0,7.9250,0,0,1
1,1,3,1,0.42,0,1,8.5167,1,0,0
2,0,3,0,22.00,0,0,9.8375,0,0,1
3,1,3,0,5.00,4,2,31.3875,0,0,1
4,0,3,1,28.00,0,0,9.5000,0,0,1
5,1,3,0,19.00,0,0,7.8792,0,1,0
6,1,3,0,22.00,0,0,7.7500,0,1,0
7,0,3,1,17.00,0,0,7.1250,0,0,1
8,1,2,0,6.00,0,1,33.0000,0,0,1
9,1,3,0,31.00,0,0,8.6833,0,0,1
10,0,3,1,20.00,0,0,7.9250,0,0,1
11,1,1,0,35.00,1,0,90.0000,0,0,1
12,1,3,0,1.00,1,1,11.1333,0,0,1
13,0,3,1,47.00,0,0,9.0000,0,0,1
14,1,1,0,33.00,1,0,53.1000,0,0,1
15,0,2,1,16.00,0,0,10.5000,0,0,1
16,1,2,0,19.00,1,0,26.0000,0,0,1
17,1,2,0,29.00,0,0,10.5000,0,0,1
18,0,1,1,24.00,0,0,79.2000,1,0,0
19,0,3,1,21.00,0,0,7.2500,0,0,1
20,0,1,1,61.00,0,0,33.5000,0,0,1
21,0,3,1,18.00,1,1,20.2125,0,0,1
22,0,1,1,58.00,0,0,29.7000,1,0,0
23,1,3,0,31.00,1,1,20.5250,0,0,1
24,1,1,1,31.00,1,0,57.0000,0,0,1
25,0,3,1,36.00,0,0,0.0000,0,0,1
26,0,3,1,24.00,0,0,7.7958,0,0,1
27,0,3,0,9.00,4,2,31.2750,0,0,1
28,1,2,0,18.00,0,2,13.0000,0,0,1
29,0,1,1,47.00,0,0,38.5000,0,0,1
30,1,2,0,18.00,0,1,23.0000,0,0,1
31,0,3,1,43.00,0,0,8.0500,0,0,1
32,0,3,1,47.00,0,0,7.2500,0,0,1
33,0,3,1,30.00,0,0,7.2292,1,0,0
34,0,3,0,20.00,0,0,8.6625,0,0,1
35,0,2,1,18.00,0,0,73.5000,0,0,1
36,1,2,0,24.00,0,2,14.5000,0,0,1
37,1,2,0,21.00,0,0,10.5000,0,0,1
38,1,3,0,13.00,0,0,7.2292,1,0,0
39,1,1,0,17.00,1,0,108.9000,1,0,0
40,1,1,0,52.00,1,0,78.2667,1,0,0
41,1,2,1,2.00,1,1,26.0000,0,0,1
42,1,2,0,4.00,1,1,23.0000,0,0,1
43,0,3,0,14.00,0,0,7.8542,0,0,1
44,1,3,0,0.75,2,1,19.2583,1,0,0
45,0,3,1,35.00,0,0,7.8958,1,0,0
46,0,2,1,25.00,0,0,13.0000,0,0,1
47,0,3,1,32.00,0,0,7.9250,0,0,1
48,1,1,0,30.00,0,0,31.0000,1,0,0
49,0,3,0,25.00,0,0,7.7750,0,0,1
50,1,1,0,19.00,0,0,30.0000,0,0,1
51,0,3,1,16.00,0,0,7.7750,0,0,1
52,0,3,1,16.00,0,0,8.0500,0,0,1
53,0,2,1,32.50,1,0,30.0708,1,0,0
54,0,1,1,47.00,0,0,34.0208,0,0,1

In [3]:
titanic_df.shape

(712, 10)

In [4]:
from sklearn.model_selection import train_test_split

X = titanic_df.drop('Survived', axis=1)
Y = titanic_df['Survived']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [5]:
x_train.shape, y_train.shape

((569, 9), (569,))

In [6]:
x_test.shape, y_test.shape

((143, 9), (143,))

### Logistic regression for classification

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

In [7]:
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression(penalty='l2', C=1.0, solver='liblinear').fit(x_train, y_train)

In [8]:
y_pred = logistic_model.predict(x_test)

### Confusion matrix

In [9]:
pred_results = pd.DataFrame({'y_test': y_test,
                             'y_pred': y_pred})

In [13]:
pred_results.head()

     y_test  y_pred
527       0       0
55        1       0
93        1       0
402       0       0
461       1       0

In [11]:
titanic_crosstab = pd.crosstab(pred_results.y_pred, pred_results.y_test)

titanic_crosstab

y_test   0   1
y_pred
0       71  21
1       14  37

### Precision-recall scores

When we use these for multiclass classification we need to specify an averaging method to determine how the precision and recall scores for different labels should be weighted

https://scikit-learn.org/stable/modules/generated/sklearn.metrics.precision_score.html
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.recall_score.html

In [14]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [15]:
acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)

print("accuracy_score : ", acc)
print("precision_score : ", prec)
print("recall_score : ", recall)

accuracy_score :  0.7552447552447552
precision_score :  0.7254901960784313
recall_score :  0.6379310344827587

In [16]:
titanic_crosstab

y_test   0   1
y_pred
0       71  21
1       14  37

In [17]:
TP = titanic_crosstab[1][1]
TN = titanic_crosstab[0][0]
FP = titanic_crosstab[0][1]
FN = titanic_crosstab[1][0]

In [18]:
accuracy_score_verified = (TP + TN) / (TP + FP + TN + FN)

accuracy_score_verified

0.7552447552447552

In [19]:
precision_score_survived = TP / (TP + FP)

precision_score_survived

0.7254901960784313

In [20]:
recall_score_survived = TP / (TP + FN)

recall_score_survived

0.6379310344827587